# Machine Learning and Applications - A Practical Problem

Student ID: 2470466

Student Name: Phạm Lê Minh

In [6]:
import pandas as pd
import numpy as np
from math import log2

In [4]:

# Create the training dataset
training_data = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Age': [35, 28, 45, 31, 52, 29, 42, 33],
    'CreditScore': [720, 650, 750, 600, 780, 630, 710, 640],
    'Education': [16, 14, np.nan, 12, 18, 14, 16, 12],
    'RiskLevel': ['Low', 'High', 'Low', 'High', 'Low', 'High', 'Low', 'High']
})

training_data

   ID  Age  CreditScore  Education RiskLevel
0   1   35          720       16.0       Low
1   2   28          650       14.0      High
2   3   45          750        NaN       Low
3   4   31          600       12.0      High
4   5   52          780       18.0       Low
5   6   29          630       14.0      High
6   7   42          710       16.0       Low
7   8   33          640       12.0      High

In [5]:
# Create the test dataset
test_data = pd.DataFrame({
    'ID': ['T1', 'T2'],
    'Age': [37, 30],
    'CreditScore': [705, 645],
    'Education': [16, np.nan]
})

test_data

   ID  Age  CreditScore  Education
0  T1   37          705       16.0
1  T2   30          645        NaN

## Question 1

In [7]:
# Define a function to calculate the entropy of a dataset based on labels
def entropy(labels):
    counts = labels.value_counts()
    probs = counts / len(labels)
    return -sum(p * log2(p) for p in probs)

In [11]:
# Split the data at CreditScore = 650
split_threshold = 650
left_data = training_data[training_data['CreditScore'] <= split_threshold]
right_data = training_data[training_data['CreditScore'] > split_threshold]

In [12]:
left_data

   ID  Age  CreditScore  Education RiskLevel
1   2   28          650       14.0      High
3   4   31          600       12.0      High
5   6   29          630       14.0      High
7   8   33          640       12.0      High

In [13]:
right_data

   ID  Age  CreditScore  Education RiskLevel
0   1   35          720       16.0       Low
2   3   45          750        NaN       Low
4   5   52          780       18.0       Low
6   7   42          710       16.0       Low

In [14]:
# Compute information gain

# Entropy before split
entropy_before = entropy(training_data['RiskLevel'])

# Entropy after split
weight_left = len(left_data) / len(training_data)
weight_right = len(right_data) / len(training_data)

entropy_left = entropy(left_data['RiskLevel'])
entropy_right = entropy(right_data['RiskLevel'])

entropy_after = weight_left * entropy_left + weight_right * entropy_right

# Information gain
information_gain = entropy_before - entropy_after

print(f"Entropy before split: {entropy_before:.4f}")
print(f"Entropy after split: {entropy_after:.4f}")
print(f"Information Gain from splitting at CreditScore=650: {information_gain:.4f}")

Entropy before split: 1.0000
Entropy after split: -0.0000
Information Gain from splitting at CreditScore=650: 1.0000

## Question 2

In [ ]:
# TO DO

## Question 3

In [ ]:
# TO DO

## Question 4

In [ ]:
# TO DO

## Question 5

In [ ]:
# TO DO

## Question 6

In [ ]:
# TO DO

## Question 7

In [ ]:
# TO DO

## Question 8

In [ ]:
# TO DO

## Question 9

In [ ]:
# TO DO

## Question 10

In [ ]:
# TO DO

## Question 11

In [ ]:
# TO DO

## Question 12

In [ ]:
# TO DO

## Question 13

In [ ]:
# TO DO

## Question 14

In [ ]:
# TO DO

## Question 15

In [ ]:
# TO DO

## Question 16

In [ ]:
# TO DO

## Question 17

In [ ]:
# TO DO

## Question 18

In [ ]:
# TO DO

## Question 19

In [ ]:
# TO DO

## Question 20

In [1]:
# TO DO