# Machine Learning and Applications - A Practical Problem

Student ID: 2470466

Student Name: Phạm Lê Minh

In [3]:
import pandas as pd
import numpy as np
from math import log2

In [4]:

# Create the training dataset
training_data = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Age': [35, 28, 45, 31, 52, 29, 42, 33],
    'CreditScore': [720, 650, 750, 600, 780, 630, 710, 640],
    'Education': [16, 14, np.nan, 12, 18, 14, 16, 12],
    'RiskLevel': ['Low', 'High', 'Low', 'High', 'Low', 'High', 'Low', 'High']
})

training_data

   ID  Age  CreditScore  Education RiskLevel
0   1   35          720       16.0       Low
1   2   28          650       14.0      High
2   3   45          750        NaN       Low
3   4   31          600       12.0      High
4   5   52          780       18.0       Low
5   6   29          630       14.0      High
6   7   42          710       16.0       Low
7   8   33          640       12.0      High

In [5]:
# Create the test dataset
test_data = pd.DataFrame({
    'ID': ['T1', 'T2'],
    'Age': [37, 30],
    'CreditScore': [705, 645],
    'Education': [16, np.nan]
})

test_data

   ID  Age  CreditScore  Education
0  T1   37          705       16.0
1  T2   30          645        NaN

## Question 1

In [6]:
# Define a function to calculate the entropy of a dataset based on labels
def entropy(labels):
    counts = labels.value_counts()
    probs = counts / len(labels)
    return -sum(p * log2(p) for p in probs)

In [7]:
# Split the data at CreditScore = 650
split_threshold = 650
left_data = training_data[training_data['CreditScore'] <= split_threshold]
right_data = training_data[training_data['CreditScore'] > split_threshold]

In [8]:
left_data

   ID  Age  CreditScore  Education RiskLevel
1   2   28          650       14.0      High
3   4   31          600       12.0      High
5   6   29          630       14.0      High
7   8   33          640       12.0      High

In [9]:
right_data

   ID  Age  CreditScore  Education RiskLevel
0   1   35          720       16.0       Low
2   3   45          750        NaN       Low
4   5   52          780       18.0       Low
6   7   42          710       16.0       Low

In [10]:
# Compute information gain

# Entropy before split
entropy_before = entropy(training_data['RiskLevel'])

# Entropy after split
weight_left = len(left_data) / len(training_data)
weight_right = len(right_data) / len(training_data)

entropy_left = entropy(left_data['RiskLevel'])
entropy_right = entropy(right_data['RiskLevel'])

entropy_after = weight_left * entropy_left + weight_right * entropy_right

# Information gain
information_gain = entropy_before - entropy_after

print(f"Entropy before split: {entropy_before:.4f}")
print(f"Entropy after split: {entropy_after:.4f}")
print(f"Information Gain from splitting at CreditScore=650: {information_gain:.4f}")

Entropy before split: 1.0000
Entropy after split: -0.0000
Information Gain from splitting at CreditScore=650: 1.0000

## Question 2

In [46]:
# Define a function to calculate the mean of a dataset
def mean(values):
    total = sum(values)
    count = len(values)
    return total / count

def variance(values):
    _mean = mean(values)
    squared_diffs = [(x - _mean) ** 2 for x in values]
    print(squared_diffs)
    return sum(squared_diffs) / len(values)

In [31]:
# Split the data at Age = 35
split_threshold_age = 35
left_data_age = training_data[training_data['Age'] <= split_threshold_age]
right_data_age = training_data[training_data['Age'] > split_threshold_age]

In [32]:
left_data_age

   ID  Age  CreditScore  Education RiskLevel
0   1   35          720       16.0       Low
1   2   28          650       14.0      High
3   4   31          600       12.0      High
5   6   29          630       14.0      High
7   8   33          640       12.0      High

In [33]:
right_data_age

   ID  Age  CreditScore  Education RiskLevel
2   3   45          750        NaN       Low
4   5   52          780       18.0       Low
6   7   42          710       16.0       Low

In [49]:
# Compute variance reduction

# Variance before split
variance_before = variance(training_data["CreditScore"])

# Entropy after split
weight_left_age = len(left_data_age) / len(training_data)
weight_right_age = len(right_data_age) / len(training_data)

variance_left = variance(left_data_age['CreditScore'])
variance_right = variance(right_data_age['CreditScore'])

variance_after = weight_left_age * variance_left + weight_right_age * variance_right

# Information gain
variance_reduction = variance_before - variance_after

print(f"Variance before split: {variance_before:.4f}")
print(f"Variance after split: {variance_after:.4f}")
print(f"Variance Reduction from splitting at Age=35: {variance_reduction:.4f}")

[1225.0, 1225.0, 4225.0, 7225.0, 9025.0, 3025.0, 625.0, 2025.0]
[5184.0, 4.0, 2304.0, 324.0, 64.0]
[11.111111111111363, 1111.1111111111136, 1344.4444444444416]
Variance before split: 3575.0000
Variance after split: 1293.3333
Variance Reduction from splitting at Age=35: 2281.6667

## Question 3

In [12]:
# TO DO

## Question 4

In [13]:
# TO DO

## Question 5

In [14]:
# TO DO

## Question 6

In [15]:
# TO DO

## Question 7

In [16]:
# TO DO

## Question 8

In [17]:
# TO DO

## Question 9

In [18]:
# TO DO

## Question 10

In [19]:
# TO DO

## Question 11

In [20]:
# TO DO

## Question 12

In [21]:
# TO DO

## Question 13

In [22]:
# TO DO

## Question 14

In [23]:
# TO DO

## Question 15

In [24]:
# TO DO

## Question 16

In [25]:
# TO DO

## Question 17

In [26]:
# TO DO

## Question 18

In [27]:
# TO DO

## Question 19

In [28]:
# TO DO

## Question 20

In [29]:
# TO DO